In [9]:
import pandas as pd
import requests
from datetime import timedelta, date

In [6]:
cities = pd.read_csv('data/ongoing_cities.csv', header = False)

   state_code    city_code                     city
0      USA-MA  USA-BOS-BOT                   Boston
1      USA-IL  USA-CHI-CHH                  Chicago
2      USX-TX  USA-DAL-DLL                   Dallas
3      USA-MI  USA-DET-DET                  Detroit
4      USA-NV  USA-LAS-LAS                Las Vegas
5      USA-CA  USA-LAX-LSN              Los Angeles
6      USA-FL  USA-MIA-MIF                    Miami
7      USA-MN  USA-MIN-MIA              Minneapolis
8      USA-NY  USA-NYM-NEY  New York City-Manhattan
9      USA-FL  USA-ORL-ORL                  Orlando
10     USA-PA  USA-PHI-PHI             Philadelphia
11     USA-OR  USA-POR-POR                 Portland
12     USA-NC  USA-RAL-RAL                  Raleigh
13     USA-CA  USA-SAN-SAD                San Diego
14     USA-WA  USA-SEA-SET                  Seattle
15     USA-CA  USA-SFO-OAA                  Oakland
16     USA-DC  USA-WAS-WSD               Washington
17     USA-TX  USA-SAT-SAT              San Antonio
18     USA-GA  USA-ATL-ATA                  Atlanta
19     USA-TX  USA-AUT-AUS                   Austin
20     USA-CA  USA-SAC-SAC               Sacramento
21     USA-CA  USA-SFO-SNF            San Francisco
22     USA-AZ  USA-PHX-PHO                  Phoenix
23     USA-TX  USA-HOU-HOU                  Houston
24     USA-CO  USA-DEN-DEN                   Denver

In [11]:
for city in cities:
    print cities.city

0                      Boston
1                     Chicago
2                      Dallas
3                     Detroit
4                   Las Vegas
5                 Los Angeles
6                       Miami
7                 Minneapolis
8     New York City-Manhattan
9                     Orlando
10               Philadelphia
11                   Portland
12                    Raleigh
13                  San Diego
14                    Seattle
15                    Oakland
16                 Washington
17                San Antonio
18                    Atlanta
19                     Austin
20                 Sacramento
21              San Francisco
22                    Phoenix
23                    Houston
24                     Denver
Name: city, dtype: object
0                      Boston
1                     Chicago
2                      Dallas
3                     Detroit
4                   Las Vegas
5                 Los Angeles
6                       Miami
7                 Minneapolis
8     New York City-Manhattan
9                     Orlando
10               Philadelphia
11                   Portland
12                    Raleigh
13                  San Diego
14                    Seattle
15                    Oakland
16                 Washington
17                San Antonio
18                    Atlanta
19                     Austin
20                 Sacramento
21              San Francisco
22                    Phoenix
23                    Houston
24                     Denver
Name: city, dtype: object
0                      Boston
1                     Chicago
2                      Dallas
3                     Detroit
4                   Las Vegas
5                 Los Angeles
6                       Miami
7                 Minneapolis
8     New York City-Manhattan
9                     Orlando
10               Philadelphia
11                   Portland
12                    Raleigh
13                  San Diego
14                    Seattle
15                    Oakland
16                 Washington
17                San Antonio
18                    Atlanta
19                     Austin
20                 Sacramento
21              San Francisco
22                    Phoenix
23                    Houston
24                     Denver
Name: city, dtype: object

In [12]:
cities.city

0                      Boston
1                     Chicago
2                      Dallas
3                     Detroit
4                   Las Vegas
5                 Los Angeles
6                       Miami
7                 Minneapolis
8     New York City-Manhattan
9                     Orlando
10               Philadelphia
11                   Portland
12                    Raleigh
13                  San Diego
14                    Seattle
15                    Oakland
16                 Washington
17                San Antonio
18                    Atlanta
19                     Austin
20                 Sacramento
21              San Francisco
22                    Phoenix
23                    Houston
24                     Denver
Name: city, dtype: object

In [2]:
url = 'https://s3-us-west-2.amazonaws.com/hoodsjson/USA-CA/USA-SFO-SNF/2014-09-30/0.html'
import requests
r = requests.get(url)
sfdata = r.json()

In [3]:
for apt in data[:10]:
    print apt['heading']

  Affordable  Newly Remodeled Great Loc. 3 Bedroom 2 Baths
2 BR Condo at Telegraph Landing with Stunning Bridge  Water Views
Cottage Style, Executive Home
2ND FL.,FACE AWAY ST.,REMODELED,LIGHTED, QUIET,2 BLOCKS TO UNION SQ.
2nd FL., FACES ST.,NEW HWF, BRIGHT, SUNNY, 2 BLOCKS TO UNION SQUARE
TopFlatwBreathtakenViews inSafeNeighborhd nrBART,GoogleShuttleStp,MUNI
2ND FL.,FACE AWAY ST.,REMODELED,LIGHTED, QUIET,2 BLOCKS TO UNION SQ.
BASEMENT LVL, 2/1, REMDLD APT.,QUIET, LIGHTED, 2 BLKS TO UNION SQUARE
Contemporary Pacific Heights 2 bedroom, 2 bath condominium
Furnished One Bedroom on Mission Street With Wifi

In [10]:
state = cities.iloc[0].state_code
city = cities.iloc[0].city_code
date = '2014-09-29'
i=0 
url = "https://s3-us-west-2.amazonaws.com/hoodsjson/%s/%s/%s/%s.html" %(state, city, date, i)

In [11]:
my_json = requests.get(url)

In [12]:
data_hash = my_json.json()

In [20]:
print len(data_hash)

100

In [75]:
#Function to iterate through dates
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        single_date = start_date + timedelta(n)
        yield single_date.strftime('%Y-%m-%d')

In [14]:
headers = ["id", "header", "body", "bedrooms", "bathrooms", "sqft", 
             "timestamp", "price", "external_url", "lat", "lon", 
             "accuracy", "address", "parking", "washer_dryer", "pet"]

In [16]:
df = pd.DataFrame(columns=headers)

In [17]:
df

Empty DataFrame
Columns: [id, header, body, bedrooms, bathrooms, sqft, timestamp, price, external_url, lat, lon, accuracy, address, parking, washer_dryer, pet]
Index: []

In [34]:
url = 'https://s3-us-west-2.amazonaws.com/hoodsjson/USA-CA/USA-SFO-SNF/2014-09-30/0.html'
json_df = pd.read_json(url)

In [35]:
json_df.head()

,annotations,body,category,expires,external_url,flagged_status,heading,id,immortal,location,price,source,timestamp
0,"{u'available': u'oct 20', u'dogs': u'NO', u'so...","\n Hi there,\nI have a fully detached bright &...",RHFR,1415865435,http://sfbay.craigslist.org/sfc/apa/4690569881...,NaN,Affordable Newly Remodeled Great Loc. 3 Bed...,1418204761,0,"{u'city': u'USA-SFO-SNF', u'geolocation_status...",2800,CRAIG,1411977435
1,"{u'bathrooms': u'2.5ba', u'source_account': u'...","\n Telegraph Landing, 2-level condo located on...",RHFR,1415868052,http://sfbay.craigslist.org/sfc/apa/4652748044...,NaN,2 BR Condo at Telegraph Landing with Stunning ...,1418222038,0,"{u'city': u'USA-SFO-SNF', u'geolocation_status...",5200,CRAIG,1411980052
2,"{u'available': u'sep 29', u'source_subloc': u'...","\n Flickinger North Valley, Bentley Park Commu...",RHFR,1415867128,http://sfbay.craigslist.org/sby/apa/4690575932...,NaN,"Cottage Style, Executive Home",1418222072,0,"{u'city': u'USA-SFO-SNF', u'geolocation_status...",2750,CRAIG,1411979128
3,"{u'bathrooms': u'1ba', u'source_account': u'zg...","\n 2/1, REMODELED,LIGHTED, QUIET,2 BLOCKS TO U...",RHFR,1415869049,http://sfbay.craigslist.org/sfc/apa/4667733155...,NaN,"2ND FL.,FACE AWAY ST.,REMODELED,LIGHTED, QUIET...",1418240204,0,"{u'city': u'USA-SFO-SNF', u'geolocation_status...",3750,CRAIG,1411981049
4,"{u'bathrooms': u'1ba', u'source_account': u'qj...","\n 2nd FL., STUDIO FACES ST.,BRIGHT, SUNNY, QU...",RHFR,1415869056,http://sfbay.craigslist.org/sfc/apa/4646621294...,NaN,"2nd FL., FACES ST.,NEW HWF, BRIGHT, SUNNY, 2 B...",1418240312,0,"{u'city': u'USA-SFO-SNF', u'geolocation_status...",2025,CRAIG,1411981056

In [38]:
json_df.body[1]

u'\n Telegraph Landing, 2-level condo located one block away from the Embarcadero between Piers 27 and 23. Approximately 1400 square feet, this wonderful unit has 2 spacious bedrooms and 2 bathrooms located on its own private first level. A large living room, dining room, kitchen and &frac12; bathroom, plus balcony terrace comprises the second floor. Stairs lead up from there to its own private roof-top deck with gorgeous views of Coit Tower and peek-a-boo views of the Bay. The private deck is perfect for outdoor entertaining and BBQ. This condo is part of Telegraph Landing and comes with access to a gym, 24-hour guarded entry, incredible Golden Gate to Bay Bridge views on the accessible and shared roof-top deck, and 1 reserved parking spot -- includes tons of storage. It is close to shops, restaurants, grocery stores, night life, transportation and much more!\nMust have good credit.\nRent per month $5,200.\nSecurity deposit of one month.\nPlease no pets nor smokers.\nSummary of Unit Features\n&bull; 156 Lombard Street (cross street: Sansome)\n&bull; 1,450 sq. feet\n&bull; New carpet throughout entire unit\n&bull; Open living/dining area with balcony deck\n&bull; Barbecue-friendly private roof-top deck\n&bull; Laundry room with washer/dryer in unit\n&bull; Unfurnished\n&bull; 1-car parking included\n&bull; Elevator in-building\n&bull; Shared courtyard and gym access\n&bull; Water, basic cable and garbage included in rent\nFor showings, please email\n or call\nNo Soliciting.\n '