In [9]:
import pandas as pd
import requests
from datetime import timedelta, date

In [6]:
cities = pd.read_csv('data/ongoing_cities.csv', header = False)

   state_code    city_code                     city
0      USA-MA  USA-BOS-BOT                   Boston
1      USA-IL  USA-CHI-CHH                  Chicago
2      USX-TX  USA-DAL-DLL                   Dallas
3      USA-MI  USA-DET-DET                  Detroit
4      USA-NV  USA-LAS-LAS                Las Vegas
5      USA-CA  USA-LAX-LSN              Los Angeles
6      USA-FL  USA-MIA-MIF                    Miami
7      USA-MN  USA-MIN-MIA              Minneapolis
8      USA-NY  USA-NYM-NEY  New York City-Manhattan
9      USA-FL  USA-ORL-ORL                  Orlando
10     USA-PA  USA-PHI-PHI             Philadelphia
11     USA-OR  USA-POR-POR                 Portland
12     USA-NC  USA-RAL-RAL                  Raleigh
13     USA-CA  USA-SAN-SAD                San Diego
14     USA-WA  USA-SEA-SET                  Seattle
15     USA-CA  USA-SFO-OAA                  Oakland
16     USA-DC  USA-WAS-WSD               Washington
17     USA-TX  USA-SAT-SAT              San Antonio
18     USA-GA  USA-ATL-ATA                  Atlanta
19     USA-TX  USA-AUT-AUS                   Austin
20     USA-CA  USA-SAC-SAC               Sacramento
21     USA-CA  USA-SFO-SNF            San Francisco
22     USA-AZ  USA-PHX-PHO                  Phoenix
23     USA-TX  USA-HOU-HOU                  Houston
24     USA-CO  USA-DEN-DEN                   Denver

In [11]:
for city in cities:
    print cities.city

0                      Boston
1                     Chicago
2                      Dallas
3                     Detroit
4                   Las Vegas
5                 Los Angeles
6                       Miami
7                 Minneapolis
8     New York City-Manhattan
9                     Orlando
10               Philadelphia
11                   Portland
12                    Raleigh
13                  San Diego
14                    Seattle
15                    Oakland
16                 Washington
17                San Antonio
18                    Atlanta
19                     Austin
20                 Sacramento
21              San Francisco
22                    Phoenix
23                    Houston
24                     Denver
Name: city, dtype: object
0                      Boston
1                     Chicago
2                      Dallas
3                     Detroit
4                   Las Vegas
5                 Los Angeles
6                       Miami
7                 Minneapolis
8     New York City-Manhattan
9                     Orlando
10               Philadelphia
11                   Portland
12                    Raleigh
13                  San Diego
14                    Seattle
15                    Oakland
16                 Washington
17                San Antonio
18                    Atlanta
19                     Austin
20                 Sacramento
21              San Francisco
22                    Phoenix
23                    Houston
24                     Denver
Name: city, dtype: object
0                      Boston
1                     Chicago
2                      Dallas
3                     Detroit
4                   Las Vegas
5                 Los Angeles
6                       Miami
7                 Minneapolis
8     New York City-Manhattan
9                     Orlando
10               Philadelphia
11                   Portland
12                    Raleigh
13                  San Diego
14                    Seattle
15                    Oakland
16                 Washington
17                San Antonio
18                    Atlanta
19                     Austin
20                 Sacramento
21              San Francisco
22                    Phoenix
23                    Houston
24                     Denver
Name: city, dtype: object

In [12]:
cities.city

0                      Boston
1                     Chicago
2                      Dallas
3                     Detroit
4                   Las Vegas
5                 Los Angeles
6                       Miami
7                 Minneapolis
8     New York City-Manhattan
9                     Orlando
10               Philadelphia
11                   Portland
12                    Raleigh
13                  San Diego
14                    Seattle
15                    Oakland
16                 Washington
17                San Antonio
18                    Atlanta
19                     Austin
20                 Sacramento
21              San Francisco
22                    Phoenix
23                    Houston
24                     Denver
Name: city, dtype: object

In [2]:
url = 'https://s3-us-west-2.amazonaws.com/hoodsjson/USA-CA/USA-SFO-SNF/2014-09-30/0.html'

In [3]:
for apt in data[:10]:
    print apt['heading']

  Affordable  Newly Remodeled Great Loc. 3 Bedroom 2 Baths
2 BR Condo at Telegraph Landing with Stunning Bridge  Water Views
Cottage Style, Executive Home
2ND FL.,FACE AWAY ST.,REMODELED,LIGHTED, QUIET,2 BLOCKS TO UNION SQ.
2nd FL., FACES ST.,NEW HWF, BRIGHT, SUNNY, 2 BLOCKS TO UNION SQUARE
TopFlatwBreathtakenViews inSafeNeighborhd nrBART,GoogleShuttleStp,MUNI
2ND FL.,FACE AWAY ST.,REMODELED,LIGHTED, QUIET,2 BLOCKS TO UNION SQ.
BASEMENT LVL, 2/1, REMDLD APT.,QUIET, LIGHTED, 2 BLKS TO UNION SQUARE
Contemporary Pacific Heights 2 bedroom, 2 bath condominium
Furnished One Bedroom on Mission Street With Wifi

In [10]:
state = cities.iloc[0].state_code
city = cities.iloc[0].city_code
date = '2014-09-29'
i=0 
url = "https://s3-us-west-2.amazonaws.com/hoodsjson/%s/%s/%s/%s.html" %(state, city, date, i)

In [75]:
#Function to iterate through dates
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        single_date = start_date + timedelta(n)
        yield single_date.strftime('%Y-%m-%d')

In [14]:
headers = ["id", "header", "body", "bedrooms", "bathrooms", "sqft", 
             "timestamp", "price", "external_url", "lat", "lon", 
             "accuracy", "address", "parking", "washer_dryer", "pet"]

In [16]:
df = pd.DataFrame(columns=headers)

In [34]:
url = 'https://s3-us-west-2.amazonaws.com/hoodsjson/USA-CA/USA-SFO-SNF/2014-09-30/0.html'
json_df = pd.read_json(url)

In [49]:
json_df.annotations[0]

{u'available': u'oct 20',
 u'bathrooms': u'2ba',
 u'bedrooms': u'3br',
 u'cats': u'NO',
 u'dogs': u'NO',
 u'in_law': u'YES',
 u'latlong_source': u'In Posting',
 u'no_smoking': u'YES',
 u'proxy_ip': u'111.10.99.34:8123',
 u'source_account': u'rqgz9-4690569881@hous.craigslist.org',
 u'source_cat': u'hhh',
 u'source_continent': u'USA',
 u'source_heading': u' ~~ Affordable &amp; Newly Remodeled Great Loc. 3 Bedroom 2 Baths ~~ ',
 u'source_loc': u'sfbay',
 u'source_map_google': u'https://maps.google.com/?q=loc%3A+Country+Club+Drive+at+Berkshire+San+Francisco+Ca+US',
 u'source_map_yahoo': u'http://maps.yahoo.com/maps_result?addr=Country+Club+Drive+at+Berkshire&amp;csz=San+Francisco+Ca&amp;country=US',
 u'source_neighborhood': u'sunset / parkside',
 u'source_state': u'California',
 u'source_subcat': u'apa|apa',
 u'source_subloc': u'sfc'}

In [59]:
print int(json_df.annotations[0]['bedrooms'][0])
print int(json_df.annotations[0]['bathrooms'][0])
print json_df.annotations[4]

3
2
{u'bathrooms': u'1ba', u'source_account': u'qjc6n-4646621294@hous.craigslist.org', u'source_neighborhood': u'nob hill', u'proxy_ip': u'27.147.189.196:9064', u'year': u'2025', u'original_posting_date': u'1409556449', u'apartment': u'YES', u'source_cat': u'hhh', u'source_map_google': u'https://maps.google.com/?q=loc%3A+%37%39%37+BUSH+ST%2E+SAN+FRANCISCO+CA+US', u'dogs': u'NO', u'street_parking': u'YES', u'available': u'sep 01', u'source_subloc': u'sfc', u'bedrooms': u'0br', u'sale_dates': u'2014-10-04,2014-10-11,2014-10-18', u'source_loc': u'sfbay', u'latlong_source': u'In Posting', u'source_continent': u'USA', u'phone': u'4159863929', u'source_state': u'California', u'source_subcat': u'apa|apa', u'source_map_yahoo': u'http://maps.yahoo.com/maps_result?addr=%37%39%37+BUSH+ST%2E&amp;csz=SAN+FRANCISCO+CA&amp;country=US', u'source_heading': u'2nd FL., FACES ST.,NEW HWF, BRIGHT, SUNNY, 2 BLOCKS TO UNION SQUARE!', u'cats': u'NO'}

In [63]:
if 'street_parking' in json_df.annotations[0]:
    print 'street parking'
else:
    print 'no street parking'

no street parking

In [65]:
headers

['id',
 'header',
 'body',
 'bedrooms',
 'bathrooms',
 'sqft',
 'timestamp',
 'price',
 'external_url',
 'lat',
 'lon',
 'accuracy',
 'address',
 'parking',
 'washer_dryer',
 'pet']

In [66]:
results_df = pd.DataFrame(columns = headers, index = xrange(len(json_df)))

In [85]:
results_df['body'][0] = 'body'
results_df.head()

,id,header,body,bedrooms,bathrooms,sqft,timestamp,price,external_url,lat,lon,accuracy,address,parking,washer_dryer,pet
0,NaN,NaN,body,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
pd.to_datetime(json_df['timestamp'], unit='s')[:10]

0   2014-09-29 07:57:15
1   2014-09-29 08:40:52
2   2014-09-29 08:25:28
3   2014-09-29 08:57:29
4   2014-09-29 08:57:36
5   2014-09-29 08:57:24
6   2014-09-29 08:57:30
7   2014-09-29 08:57:30
8   2014-09-29 08:13:15
9   2014-09-29 09:21:26
Name: timestamp, dtype: datetime64[ns]

In [102]:
c = json_df['source'] == 'CRAIG'
len(json_df[c])
json_df = json_df[c]

In [103]:
len(json_df)

498

In [104]:
url = 'https://s3-us-west-2.amazonaws.com/hoodsjson/USA-CA/USA-SFO-SNF/2014-09-30/2.html'
empty_df = pd.read_json(url)
len(empty_df)

0